.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-right: 1px solid lightgray;
    position: relative;
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.sidebar__headerLeft{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 75px;
}

.sidebar__headerRight .MuiSvgIcon-root {
    font-size: 22px;
}

.sidebar__status{
    position: relative;
}

.sidebar__statusUpdate{
    height: 7px;
    width: 7px;
    position: absolute;
    border-radius: 50%;
    background-color: #25d366;
    top: 13px;
    right: 15px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 45px;
    padding: 5px 10px;
}


.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 32px;
    border-radius: 18.5px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    margin-left: 10px;
    font-size: 18px;
}

.sidebar__searchContainer > input {
    border: none;
    outline-width: 0;
    margin-left: 10px;
    height: 32px;
    font-size: 14px;
    color: gray
}

.sidebar__chats{
    flex: 1;
    background-color: white;
    overflow-y: auto;
}

.sidebar__profile{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    transition: .5s;
}

.sidebar__profile > * {
    padding: 0 20px
}

.profile__top{
    height: 114px;
    background-color: #00bfa5;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}
.profile__top > span:nth-child(1){
    height: 24px;
    cursor: pointer;

}


.profile__top > span:nth-child(2){
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
}

.profile__top .MuiSvgIcon-root{
    fill: white
}

.profile__picture {
    background-color: #ededed;
    height: 200px;
    display: grid;
    place-items: center;
}

.profile__picture .MuiAvatar-root {
    width: 180px;
    height: 180px;
    margin-left: -20px;
}

.profile__details{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
}

.profile__details > div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile__details__name{
    color: #00bfa5
}

.profile__details__fact{
    color: gray
}


.profile__story{
    background-color: #ededed;
    color: gray;
    padding: 10px 20px 20px 20px;
}

.profile__base{
    height: 62px;
    background-color: #ededed;
    margin-top: auto;
}

.sidebar__newConvo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    transition: .5s;
    background-color: white;
}

